@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



:root{
    /*fonts*/
    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Open Sans', sans-serif;

    /*colors*/
    --color-text: #f0eb8d;
    --color-title: rgb(143, 67, 238);
    --color-bg: #2D2727;
    --color-bg2: #413543;

}