@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');



:root{
    /*fonts*/
    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Open Sans', sans-serif;

    /*colors*/
    --color-text: #F0EB8D;
    --color-title: #8F43EE;
    --color-bg: #2D2727;
    --color-bg2: #413543;

}