@use '../_abstracts/variables';

.cart-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg2);
    background-image: url("/src/assets/textura9.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 5rem;


    .info-container {
        display: flex;
        width: 70%;
        align-self: center;
        align-items: center;
        justify-content: space-between;

        .title-container {

            background-color: rgba(0, 0, 0, 0.109);

            h1 {
                padding: 5px;
                font-size: 1.5rem;
                font-weight: 100;
                font-family: var(--font-title);
                color: var(--color-title);
                text-shadow: 2px 2px rgb(0, 0, 0);
            }
        }


    }

    .reference-container {
        color: var(--color-text);
        font-family: var(--font-text);
        font-size: 1rem;
        width: 70%;
        padding-left: 8rem;
        padding-right: 4.5rem;
        margin-bottom: 0.5rem;
        align-self: center;
        display: flex;
        align-items: end;
        text-align: center;

        .reference-pelicula {
            width: 80%;
        }

        .reference-cantidad {
            width: 20%;

        }

        .reference-precio-unidad {
            width: 20%;
        }

        .reference-precio-total {
            width: 20%;
        }
    }

    .all-items-container {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;


        .link-container {
            width: 70%;

            .item-container {
                display: flex;
                background-color: var(--color-bg2);
                border: 3px solid rgba(240, 235, 141, 0.641);
                margin: 1px;
                box-shadow: 0 0 10px rgba(185, 108, 253, 0.433);
                border-radius: 10px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 100% 20%;
                border-bottom: 3px unset var(--color-bg2);
                width: 100%;
                transition: 0.6s;
                overflow: hidden;

                .delete-container {
                    backdrop-filter: blur(2px) saturate(10%) brightness(20%);
                    display: flex;
                    justify-content: center;
                    border: 1px solid rgba(0, 0, 0, 0.095);
                    width: 10%;

                    .delete-icon {
                        justify-self: end;
                        align-self: center;
                        right: 15%;
                        z-index: 1;
                        padding: 10px;
                        font-size: 1.5rem;
                        color: rgb(185, 108, 253);

                    }
                }


                .img-item-cart {
                    width: 8rem;
                    height: 10rem;
                }

                .title-genre-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 80%;
                    backdrop-filter: blur(2px) saturate(10%) brightness(20%);
                    padding-left: 20px;

                    .title-item-cart {
                        color: var(--color-title);
                        font-family: var(--font-title);
                        font-size: 1rem;
                        text-shadow: 0 0 5px rgb(0, 0, 0);
                    }

                    .genre-item-cart {
                        display: flex;
                        flex-direction: row;
                        font-family: var(--font-text);
                        color: var(--color-text);
                        font-size: 0.8rem;


                        h4 {
                            margin-right: 10px;
                            font-weight: 100;
                        }
                    }
                }

                .count-container {
                    width: 20%;
                    backdrop-filter: blur(2px) saturate(10%) brightness(20%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(0, 0, 0, 0.095);

                    .count-item-cart {
                        margin: 3px;
                        color: var(--color-title);
                        font-family: var(--font-title);
                        font-size: 0.9rem;
                    }
                }

                .price-container {
                    width: 20%;
                    backdrop-filter: blur(2px) saturate(10%) brightness(20%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(0, 0, 0, 0.095);

                    .price-item-cart {
                        font-size: 0.9rem;
                        font-family: var(--font-text);
                        color: var(--color-text);
                    }
                }

                .total-item-container {
                    width: 20%;
                    backdrop-filter: blur(2px) saturate(10%) brightness(20%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(0, 0, 0, 0.095);

                    .total-item-cart {
                        font-size: 0.9rem;
                        font-family: var(--font-text);
                        color: var(--color-text);
                    }
                }

                &:hover {

                    z-index: 1;
                    transform: scale(1.05);
                    position: relative;
                    box-shadow: 0 0 15px rgba(185, 108, 253, 0.749);

                    // .img-item-cart {
                    //     width: 12rem;
                    //     height: 15rem;
                    // }

                    .delete-container {
                        backdrop-filter: blur(0px) saturate(80%) brightness(50%);
                        border: 0px solid black;
                    }

                    .title-genre-container {
                        backdrop-filter: blur(0px) saturate(80%) brightness(50%);
                        border: 0px solid black;
                    }

                    .count-container {
                        backdrop-filter: blur(0px) saturate(80%) brightness(50%);
                        border: 0px solid black;
                    }

                    .price-container {
                        backdrop-filter: blur(0px) saturate(80%) brightness(50%);
                        border: 0px solid black;
                    }

                    .total-item-container {
                        backdrop-filter: blur(0px) saturate(80%) brightness(50%);
                        border: 0px solid black;
                    }
                }
            }

        }

        .cart-vacio {
            height: 50vh;
            width: 70%;
            color: white;
            text-align: center;
            justify-items: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.221);
            border: 1px solid rgba(245, 245, 220, 0.102);
            border-radius: 5px;
            text-shadow: 1px 1px black;


            span {
                font-family: var(--font-text);
                display: inline;
                font-size: 1rem;
                margin: 5px;
            }

            .link {
                margin: 5px;
                font-family: var(--font-title);

                &:hover {
                    color: var(--color-text);
                    transform: scale(1.02);
                }
            }
        }

    }


    .total-container {
        width: 70%;
        min-height: 50vh;
        margin-top: 1rem;
        align-self: center;
        //background-image: url("/src/assets/textura6.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: end;

        .total {
            width: 60%;
            padding-top: 5px;

            .total-legend {
                font-family: var(--font-title);
                color: var(--color-title);
                font-size: 2rem;
                font-weight: 900;
                text-shadow: 1px 1px black;
            }

            .total-value {
                font-family: var(--font-text);
                color: var(--color-text);
                font-size: 2rem;
                margin: 15px;
                text-shadow: 1px 1px black;
            }
        }

        .button-container {

            .seguir-comprando {
                font-size: 16px;
                padding: 15px;
                border-radius: 10px;
                background-color: var(-color-bg2);
                color: var(--color-text);
                border: 2px solid var(--color-title);
                transition-duration: 0.4s;
                cursor: pointer;

                &:hover {
                    background-color: transparent;
                    color: var(--color-title);
                }
            }
        }

        .finish-container {

            .finalizar-compra {
                font-size: 16px;
                padding: 15px;
                border-radius: 10px;
                background-color: var(-color-bg2);
                color: var(--color-text);
                border: 2px solid var(--color-title);
                transition-duration: 0.4s;
                cursor: pointer;

                &:hover {
                    background-color: transparent;
                    color: var(--color-title);
                }
            }
        }
    }

}

