.nav-container {


    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: transparent;
    width: 100%;
    top: 0;
    z-index: 1;
    position: absolute;



    .logo {
        margin: 6px;
        width: 5rem;
        align-self: center;
    }

    .cart-container-nav {

        position: relative;
        width: auto;
         height: auto;
        top: 1rem;
        right: 1rem;

        .cart {

            color: var(--color-title);
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 0 0 15px rgba(136, 0, 255, 0.676);
            
            .cart-count {
                position: absolute;
                top: -0.2rem;
                right: 0.6rem;
                font-family: var(--font-text);
                font-weight: 900;
                font-size: 1rem;
                color: var(--color-text);
                text-shadow: 1px 1px rgb(0, 0, 0);
                
            }
        }

    }
}