.nav-container {


    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: transparent;
    width: 100%;
    top: 0;
    z-index: 1;
    position: absolute;



    .logo {
        margin: 6px;
        height: 80%;
        align-self: center;
    }

    .cart-container-nav {

        height: 100%;
        margin: 2px;
        align-items: center;
        display: flex;

        .cart {
            color: var(--color-title);
            font-size: 30px;
        }

        .cart-count {
            font-family: var(--font-text);
            text-align: center;
            font-weight: 900;
            font-size: 20px;
            color: var(--color-text);
            position: relative;
            right: 47%;
            bottom: 18%;
            text-shadow: 1px 1px rgb(0, 0, 0);
        }
    }
}