.nav-container {


    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: transparent;
    width: 100%;
    top: 0;
    z-index: 1;
    position: absolute;



    .logo {
        margin: 6px;
        width: 5rem;
        align-self: center;
    }

    .nav-controllers {

        display: flex;
        justify-content: end;
        width: 30%;
        .login-button-container {
            justify-self: end;
            align-self: center;

            .login-button {
                color: var(--color-text);
                border: 2px solid var(--color-title);
                padding: 10px;
                border-radius: 5px;
            }
        }

        .cart-container-nav {

            position: relative;
            width: 15%;
            height: auto;
            display: flex;
            justify-content: center;

            .cart {

                color: var(--color-title);
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-shadow: 0 0 15px rgba(136, 0, 255, 0.676);

                .cart-count {
                    position: absolute;
                    font-family: var(--font-text);
                    font-weight: 900;
                    font-size: 1rem;
                    color: var(--color-text);
                    text-shadow: 1px 1px rgb(0, 0, 0);
                    transform: translate(2px, -7px);

                }
            }

        }
    }

}