/*Abstracts*/
@use './scss/_abstracts/variables';
@use './scss/_abstracts/mixins';

/*Base*/
@use './scss/_base/base';
@use './scss/_base/resets';

/// IMPORTO ESTILOS DEL NAVBAR
@import "/src/scss/_partials/navbar";



.body-container {

    background: rgb(37, 32, 32);
    background: radial-gradient(circle at -8.9% 51.2%, rgb(106, 0, 235) 0%, rgb(86, 54, 125) 30.9%, #382e3a 15.9%, #382e3a 50.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    
    height: max-content;

    //IMPORTO ESTILOS PARA EL BANNER DE TITULO Y BUSQUEDA
    @import "/src/scss/_partials/banner";

    //IMPORTO ESTILOS PARA LA SECCION DE CATEGORIAS
    @import "/src/scss/_partials/category";



    //ESTILOS PARA LAS CARD EN CONTENEDOR DE PELICULAS
    @import "/src/scss/_partials/movie-container";


}


//IMPORTO ESTILOS PARA LA RUTA DE DETALLES
@import "/src/scss/_partials/detail";
@import "/src/scss/_partials/cart-container";
@import "/src/scss/_partials/login-container"