/*Abstracts*/
@use './scss/_abstracts/variables';
@use './scss/_abstracts/mixins';

/*Base*/
@use './scss/_base/base';
@use './scss/_base/resets';

/// IMPORTO ESTILOS DEL NAVBAR
@import "/src/scss/_partials/navbar";



.body-container {

    background: rgb(37, 32, 32);
    background: linear-gradient(180deg, rgba(37, 32, 32, 1) 10%, rgba(93, 76, 96, 1) 100%);
    height: max-content;

    //IMPORTO ESTILOS PARA EL BANNER DE TITULO Y BUSQUEDA
    @import "/src/scss/_partials/banner";

    //IMPORTO ESTILOS PARA LA SECCION DE CATEGORIAS
    @import "/src/scss/_partials/category";



    //ESTILOS PARA LAS CARD EN CONTENEDOR DE PELICULAS
    @import "/src/scss/_partials/movie-container";
    

}


//IMPORTO ESTILOS PARA LA RUTA DE DETALLES
@import "/src/scss/_partials/detail";
@import "/src/scss/_partials/cart-container";